.page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #1c013f 65.1%,
    #670c51 100%,
    #e1c3da 100%,
    #530357 100%
  );
}

span {
  color: #fffd54;
}

mat-icon {
  margin-bottom: -0.4rem;
}

.tile-user {
  padding-top: 4rem;
  display: flex;
  gap: 1rem;
  border-radius: 2rem;
  border-bottom: 0.5rem solid #fffd54;
}

.tile1 {
  display: flex;
  gap: 1rem;
  padding: 0 0 1rem 1.5rem;
  flex-direction: column;
  align-items: center;
}

.user-image {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  object-fit: cover;
}

.tile2 {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 1rem;
  padding-right: 1rem;
}

.infos {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.awards-content {
  position: relative;

}

.awards {
  padding: 1.5rem 2rem;
  text-transform: none;
}

ul {
  list-style-type: none;
  overflow: scroll;
  height: 27rem;
}

li {
  background-color: #270527;
  color: #fff;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
